mixin slider-gallery()
    .slider-gallery
        section.splide(aria-label="Splide Basic HTML Example")
            .splide__track
                ul.splide__list(data-gallery-parent)
                    li.splide__slide.slider-gallery__slide(data-gallery-item data-index="0")
                        img(src="https://placecats.com/millie/1280/640" data-image-source="https://placecats.com/millie/1280/640")
                    li.splide__slide.slider-gallery__slide(data-gallery-item data-index="1")
                        img(src="https://placecats.com/millie_neo/1280/640" data-image-source="https://placecats.com/millie_neo/1280/640")
                    li.splide__slide.slider-gallery__slide(data-gallery-item data-index="2")
                        img(src="https://placecats.com/neo_2/1280/640" data-image-source="https://placecats.com/neo_2/1280/640")
            .splide__arrows
                button.splide__arrow.splide__arrow--prev(type="button" aria-label="Previous slide")
                    svg(viewBox="0 0 26 24" height="24" width="26")
                        path(d="M0.939341 10.9393C0.353554 11.5251 0.353554 12.4749 0.939341 13.0607L10.4853 22.6066C11.0711 23.1924 12.0208 23.1924 12.6066 22.6066C13.1924 22.0208 13.1924 21.0711 12.6066 20.4853L4.12132 12L12.6066 3.51472C13.1924 2.92893 13.1924 1.97919 12.6066 1.3934C12.0208 0.807611 11.0711 0.807611 10.4853 1.3934L0.939341 10.9393ZM26 10.5L2 10.5V13.5L26 13.5V10.5Z")
                button.splide__arrow.splide__arrow--next(type="button" aria-label="Previous slide")
                    svg(viewBox="0 0 26 24" height="24" width="26")
                        path(d="M0.939341 10.9393C0.353554 11.5251 0.353554 12.4749 0.939341 13.0607L10.4853 22.6066C11.0711 23.1924 12.0208 23.1924 12.6066 22.6066C13.1924 22.0208 13.1924 21.0711 12.6066 20.4853L4.12132 12L12.6066 3.51472C13.1924 2.92893 13.1924 1.97919 12.6066 1.3934C12.0208 0.807611 11.0711 0.807611 10.4853 1.3934L0.939341 10.9393ZM26 10.5L2 10.5V13.5L26 13.5V10.5Z")

