include ../components/hamburger/hamburger
include ../components/slider-banner/slider-banner
include ../components/slider-gallery/slider-gallery

block content
    .container
        .row
            .col
                h1 Гамбургер
            .col
                +hamburger

    .container
        .row
            .col
                h1 Слайдер баннер
                p Если слайдев нет, то блок не отображается
                p Если слайд один то слайдер не инициализируется
                p Если мышка на слайде то автоматическое прокручивание ставится на паузу
                p Слайд может быть как ссылкой целиком (на всю картинку или на вс составную часть
        .row
            .col
                +slider-banner

    .container
        .row
            .col
                h1 Слайдер галлерея
                p при нажатии на фотографию раскрывается в полный экран
                p так же с возможностью прокручивать фотографии в галлереи
                p В мобильноей версии версии прокручивать фотографии можно свайпами.

        .row
            .col
                +slider-gallery

