mixin slider-banner()
    .slider-banner
        section.splide(aria-label="Splide Basic HTML Example")
            .splide__track
                ul.splide__list
                    li.splide__slide
                        a(href="#")
                            img(src="https://placecats.com/neo_banana/1280/640")
                    li.splide__slide
                        img(src="https://placecats.com/millie/1280/640")
                    li.splide__slide
                        img(src="https://placecats.com/neo_2/1280/640")
